{% extends 'webpark/layout.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/assets/css/loginstyles.css" th:href="@{/css/loginstyles.css}">

</head>
<body style="background-image:url('https://economia.org/anexo/Estacionamiento.jpg');">
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div style="margin: 2.3rem; padding: 1rem;">
                <form action="{% url 'signup' %}" method="POST" >
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group" id="user-group">
                        {{ field }}
                    </div>
                {% endfor %}

                    <button type="submit" id="submit" class="btn btn-primary"><i class="linea"></i>  Registrarse </button>
                    <button class="btn btn-danger"><i class="linea"></i>  Regresar </button>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}