{% extends "webpark/layout.html" %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Team</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team ">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Jose Gonzales</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante6.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Guido Lucana</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante5.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Josue Parisaca</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Aldo Pezo</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Luis Rivera</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/assets/img/team/integrante4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Joaquin Salas</h4>
                <span>Programador</span>
                <p>Estudiante de la carrera de Diseño y Desarrollo de Software</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
{% endblock %}